body {
    font-family: 'Montserrat', sans-serif;
}



#start {
    height: 100vh;
    background-color: #311437;
}


.menu-item,
.menu-open-button {
    background: #EEEEEE;
    border-radius: 100%;
    width: 3vw;
    height: 3vw;
    margin-left: -40px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 3vw;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
    display: none;
}

.lines {
    width: 25px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    margin: auto;
    position: fixed;
    z-index: 4;
    top: 12vh;
    left: 85vw;
    right: 0;
    width: 4vw;
    height: 4vw;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.8em;

}

nav a {
    text-decoration: none;
    font-style: normal;
}

/* .menu-item {
   transition: all 0.1s ease 0s;
} */

.menu-item:hover {
    background: #EEEEEE;
    color: #3290B1;
}

.menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(7) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(8) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(9) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;

}

.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    transform: translate3d(0.08361px, -104.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    transform: translate3d(90.9466px, -52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
    transform: translate3d(90.9466px, 52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
    transform: translate3d(0.08361px, 104.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 580ms;
    -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
    transform: translate3d(-90.86291px, 52.62064px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 680ms;
    -webkit-transition-duration: 680ms;
    -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
    transform: translate3d(-91.03006px, -52.33095px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(9) {
    transition-duration: 780ms;
    -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-0.25084px, -104.9997px, 0);
}

.color1 {
    background-color: #5B3474;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.color1:hover {
    color: #5B3474;
    text-shadow: none;
}

.color2 {
    background-color: #744A8E;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.color2:hover {
    color: #744A8E;
    text-shadow: none;
}

.color3 {
    background-color: #8F66A9;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.color3:hover {
    color: #8F66A9;
    text-shadow: none;
}

.color4 {
    background-color: #A980C4;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.color4:hover {
    color: #A980C4;
    text-shadow: none;
}

.color5 {
    background-color: #B292C7;

    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.color5:hover {
    color: #B292C7;
    text-shadow: none;
}

.color6 {
    background-color: #C6B0D4;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.color6:hover {
    color: #C6B0D4;
    text-shadow: none;
}

.credit {
    margin: 24px 20px 120px 0;
    text-align: right;
    color: #EEEEEE;
}

.credit a {
    padding: 8px 0;
    color: #C49CDE;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.credit a:hover {
    text-decoration: none;
}

.articletitle {

    text-align: center;
    padding: 0 0 10vh 0;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
}
.titleneon {
    margin: 0 0 15vh 0;
}
.neon {
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 10px #f2f2f2,
    0 0 20px #f2f2f2ff,
    0 0 40px #B5CC03,
    0 0 80px #B5CC08,
    0 0 90px #B5CC03,
    0 0 100px #B5CC03,
    0 0 150px #B5CC11;
    font-size: 7em;
    z-index: 2;
    animation-name: fade-in-right;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

@keyframes fade-in-right {
    0% {
        font-size: 3em;
        opacity: 0;
    }
    100% {
        font-size: 6em;
        opacity: 1;
    }
}

@keyframes jello-diagonal-1 {
    0% {
        transform: skew(0deg 0deg);

    }
    60% {
        transform: skew(0deg 0deg);

    }
    75% {
        transform: skew(25deg 25deg);
    }
    80% {
        transform: skew(-15deg, -15deg);
    }
    85% {
        transform: skew(15deg, 15deg);
    }
    90% {
        transform: skew(-5deg, -5deg);
    }
    95% {
        transform: skew(5deg, 5deg);
    }
    100% {
        transform: skew(0deg 0deg);
    }
}

#video {
    height: 100vh;
}

#gallery {
    height: 100vh;
    padding: 0 15vw 20vh 15vw;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
    width: 5vw;
    height: 5vw;
}

.carousel .carousel-control-prev-icon {
    background-image: url(../img/svg/arrow_left.svg)
}

.carousel .carousel-control-next-icon {
    background-image: url(../img/svg/arrow_right.svg)

}

.grid {
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-container {
    width: 27vw;
    cursor: pointer;
    overflow: hidden;
}

.img-container:hover .img-content-hover {
    display: block;
}

#sneakpeek {
    padding: 0 0 20vh 0;
}
.sneakpeek {
    width: 25vw;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    margin: 1vw;
}

.sneakpeek:hover {
    transform: scale(1.05);
}

.img-content-hover {
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    display: none;
    padding: 1rem;
    background: #fff;
    font-weight: 400;
    margin-top: 1.25rem;
    margin-left: -2rem;
}


.title {
    color: #2e2e2e;
    font-size: 1.5rem;
    font-weight: 700;
}

.category {
    font-size: 1rem;
    color: #787878;
}

.img-content {
    display: none;
}

.rw-wrapper {
    width: 60vw;
}

.rw-sentence {
    margin: 0;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.rw-sentence span {
    color: #000000;
    font-size: 5em;
    font-weight: 700;
}

.right {
    text-align: right;
    position: absolute;
}

.rw-words {
    display: inline;
    text-indent: 10px;
    width: 40vw;


}

.rw-words-1 span {
    position: absolute;
    opacity: 0;
    color: #8F66A9;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
    font-style: italic;
}

.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    color: #8F66A9;
    font-style: italic;
}

.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
    color: #8F66A9;
    font-style: italic;
}

.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
    color: #8F66A9;
    font-style: italic;
}

.rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
    color: #8F66A9;
    font-style: italic;
}

.rw-words-1 span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
    color: #8F66A9;
    font-style: italic;
}

@-webkit-keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -ms-transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -ms-transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.quote {
    animation: quote 2s linear infinite alternate both;
    height: 100vh;
}


@keyframes quote {
    0% {
        background: #B5CC03;

    }
    100% {
        background: #F9EF84;

    }
}

#inspo {
   margin: 20vh 0;
}


.inspogallery {
    width: 60vw;
    display: flex;
    flex-flow: row wrap;
}

.inspogallery img {
    width: 18vw;
    height: 18vw;
    margin: 1vw;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    overflow: hidden;

}


.inspogallery img:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

.inspogallery figure {
    margin: 0 0;
    position: relative;
    padding: 0;
    background: #fff;
    overflow: hidden
}

.inspogallery figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.inspogallery figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20vw;
    align-items: center;
    height: 20vh;
    font-size: 1.2em;
}

footer p {
    font-style: italic;
    font-weight: 300;
    color: #C2C2C2;
}

.end {
    font-size: 10em;
    font-weight: 700;
    margin: 0 0;
    padding: 0 0;
}

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#shop {
    padding: 0 20vw 20vh 20vw;
}

.lemongreen {
    background-color: #B5CC03;
}

#gallery {
    padding: 0 20vw 20vh 20vw;
}
.carousel-control-prev1,
.carousel-control-next1 {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
    .carousel-control-prev1,
    .carousel-control-next1 {
        transition: none;
    }
}

.carousel-control-prev1:hover, .carousel-control-prev:focus,
.carousel-control-next1:hover,
.carousel-control-next1:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
}

.carousel-control-prev1 {
    left: 15vw;
}

.carousel-control-next1 {
    right: 15vw;
}

.carousel-indicators .active1 {
    opacity: 1;
    background-color: #0b51c5;
}


